* {
    box-sizing: border-box;
    text-align: center;
}
body {
    font-family: "arial", "helvetica neue", 
    Helvetica, sans-serif;

    color: #777;

    background: #777;

    font-size: 18px;

    width: 960px;

    margin: 10px auto 10px auto;

}

header {
    background: #ebebeb;
    padding: 30px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav {
    background: #ebebeb;
    padding: 30px;
    width: 100%;
    margin-bottom: 10px;
}

section {
    background: #ebebeb;
    padding: 30px 5px 5px 5px;
    overflow: auto;
    width: 495px; 
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;

}

article {
    background: #777;
    color: #ebebeb;
    overflow: auto;
    padding: 10px;
    margin: 10px;

}

.h1 {
    background: #ebebeb;
    color: #777;
    padding: 10px;
    width: 90%;
    margin: 10px 10px 5px 10px;
}

.p {
    background: #ebebeb;
    color: #777;
    padding: 10px;
    width: 90%;
    margin: 5px 10px 5px 10px;
}

aside {
    background: #ebebeb;
    float: right; 
    width: 445px;
    height: 224px;
    padding: 30px 5px 5px 5px;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}

footer {
    background: #ebebeb;
    padding: 30px;
    clear: both;
    width: 960px;
    margin-top: 20px;
}
